@import "./../../assets/styles/colors.scss";

.navbar {
  display: flex;
  padding: 3rem 12rem;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 130px;
    object-fit: contain;
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    span {
      transition: all 200ms ease-out;
      &:hover {
        color: $Bright-Red;
        cursor: pointer;
      }
    }
  }
}
