.jumbotron {
  padding: 4rem 12rem;
  display: flex;
  gap: 7rem;
  .left-paragraph {
    h3 {
      font-size: 60px;
      margin-bottom: 3rem;
      line-height: 4rem;
    }
    p {
      margin-right: 8rem;
      margin-bottom: 3rem;
    }
  }
}
