.jumbotron {
  padding: 4rem 12rem;
  display: flex;
  gap: 14rem;
  .left-paragraph {
    h3 {
      font-size: 50px;
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.5rem;
      padding-right: 3rem;
      margin-bottom: 2rem;
    }
  }
  .right-images {
  }
}
