@import "./../../assets/styles/colors.scss";

.testimonials {
  margin-top: 3rem;
  text-align: center;

  h2 {
    font-size: 45px;
    margin: 2rem auto;
  }

  .cards-container {
    .carousel-container {
      margin: 5rem 0;
    }

    .alice-carousel {
      margin: 2rem auto;
      text-align: center;
    }
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
      position: absolute;

      top: 9rem;
      background-color: $Bright-Red;
      width: 40px;
      border-radius: 50%;
      height: 40px;
      text-align: center;
      padding: 0;
    }
    .alice-carousel__prev-btn {
      left: 1rem;
    }
    .alice-carousel__next-btn {
      right: 1rem;
    }
    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item {
      span {
        color: white;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 50%;
        height: 100px;
        z-index: 100;
      }
      .content {
        background-color: $Very-Light-Gray;
        border-radius: 10px;
        margin-top: -3rem;
        padding: 4rem 1rem 1rem;
        width: 500px;
        gap: 1.5rem;

        h3 {
          font-size: 18px;
        }
        p {
          text-align: center;
          padding: 1rem;
        }
      }
    }
  }
}
